.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: hsl(200 , 20%, 70%)
    }

    100%{
        background-color: hsl(200 , 20%, 95%)
    }
}

.transparent{
    opacity: 0;
}

.content-sidebar{
    display: flex;
    flex-wrap: wrap;
}

.content-sidebar > *:nth-child(1) {
    flex: 1 1 20%;
}

.content-sidebar > *:nth-child(2) {
    flex: 1 1 80%;
}